In [1]:
# Categorical Imputation

# Which is the technique replace the missing value in a categorical variable with the string “Missing” or 
# “Most Frequent Category”
# It works only with categorical variables
# A list of variables can be indicated or imputer will automatically select all categorical variables in the dataset.

#### Import Required Libraries

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings("ignore")

#### Collecting Data

In [3]:
df = pd.read_csv(r"C:\Users\Mr.MACHINE\Videos\Captures\DATA SCIENCE\PRACTICE\Data PreProcessing\3.Handling Missing Value\StudentsPerformance_mv.csv")

#### Display First 5 records of data

In [4]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

#### Checking Shape of the Dataset.  i.e. how many rows and Column in a Dataset.

In [5]:
df.shape

(1000, 8)

#### Lets check the columnwise non null values and the datatype of features

In [6]:
df.isnull().sum()

gender                          0
race/ethnicity                 11
parental level of education    21
lunch                          12
test preparation course         4
math score                      0
reading score                   0
writing score                   0
dtype: int64

#### Imputation by Categorical Imputation using feature-engine library

In [7]:
from feature_engine.imputation import CategoricalImputer

In [8]:
imputer = CategoricalImputer()

In [9]:
df = imputer.fit_transform(df)

In [10]:
df.isnull().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64