#### Import libraries

In [3]:
import numpy as np
import pandas as pd

#### Read the population dataset and store it into an DataFrame object

In [4]:
df = pd.read_csv(r"C:\Users\Mr.MACHINE\Videos\Captures\DATA SCIENCE\PRACTICE\archive\2021_population.csv")

#### See the shapes of the dataset

In [7]:
df.shape

(224, 9)

#### Take a look on the dtypes and if there are missing values

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 224 entries, 0 to 223
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   iso_code           224 non-null    object
 1   country            224 non-null    object
 2   2021_last_updated  224 non-null    object
 3   2020_population    224 non-null    object
 4   area               224 non-null    object
 5   density_sq_km      224 non-null    object
 6   growth_rate        224 non-null    object
 7   world_%            224 non-null    object
 8   rank               224 non-null    int64
dtypes: int64(1), object(8)
memory usage: 15.9+ KB

#### Read top 5 records

In [11]:
df.head()

,iso_code,country,2021_last_updated,2020_population,area,density_sq_km,growth_rate,world_%,rank
0,CHN,China,"1,447,065,329","1,439,323,776","9,706,961 sq_km",149/sq_km,0.34%,18.34%,1
1,IND,India,"1,401,310,563","1,380,004,385","3,287,590 sq_km",424/sq_km,0.97%,17.69%,2
2,USA,United States,"334,058,426","331,002,651","9,372,610 sq_km",36/sq_km,0.58%,4.23%,3
3,IDN,Indonesia,"278,037,263","273,523,615","1,904,569 sq_km",145/sq_km,1.04%,3.51%,4
4,PAK,Pakistan,"227,724,796","220,892,340","881,912 sq_km",255/sq_km,1.95%,2.86%,5

#### The Dataset Features have symbols and numeric value with string. So we want remove those those things from Features
#### by using apply(), lambda(), replace() functions.

In [13]:
df['2021_last_updated'] = df['2021_last_updated'].apply(lambda x: int(x.replace(',','')))
df['2020_population'] = df['2020_population'].apply(lambda x: int(x.replace(',','')))

In [16]:
df['area'] = df['area'].apply(lambda x: x.split(' ')[0])
df['area'] = df['area'].apply(lambda x: int(x.replace(',','')))

In [17]:
df['density_sq_km'] = df['density_sq_km'].apply(lambda x: x.split('/')[0])
df['density_sq_km'] = df['density_sq_km'].apply(lambda x: int(x.replace(',','')))

In [18]:
df['growth_rate'] = df['growth_rate'].apply(lambda x: float(x.replace('%','')))
df['world_%'] = df['world_%'].apply(lambda x: float(x.replace('%','')))

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 224 entries, 0 to 223
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   iso_code           224 non-null    object
 1   country            224 non-null    object
 2   2021_last_updated  224 non-null    int64
 3   2020_population    224 non-null    int64
 4   area               224 non-null    int64
 5   density_sq_km      224 non-null    int64
 6   growth_rate        224 non-null    float64
 7   world_%            224 non-null    float64
 8   rank               224 non-null    int64
dtypes: float64(2), int64(5), object(2)
memory usage: 15.9+ KB

In [20]:
df.head()

,iso_code,country,2021_last_updated,2020_population,area,density_sq_km,growth_rate,world_%,rank
0,CHN,China,1447065329,1439323776,9706961,149,0.34,18.34,1
1,IND,India,1401310563,1380004385,3287590,424,0.97,17.69,2
2,USA,United States,334058426,331002651,9372610,36,0.58,4.23,3
3,IDN,Indonesia,278037263,273523615,1904569,145,1.04,3.51,4
4,PAK,Pakistan,227724796,220892340,881912,255,1.95,2.86,5

#### Another way to remove these things by following

In [23]:
population_df = pd.read_csv(r"C:\Users\Mr.MACHINE\Videos\Captures\DATA SCIENCE\PRACTICE\archive\2021_population.csv")

In [24]:
population_df.head()

,iso_code,country,2021_last_updated,2020_population,area,density_sq_km,growth_rate,world_%,rank
0,CHN,China,"1,447,065,329","1,439,323,776","9,706,961 sq_km",149/sq_km,0.34%,18.34%,1
1,IND,India,"1,401,310,563","1,380,004,385","3,287,590 sq_km",424/sq_km,0.97%,17.69%,2
2,USA,United States,"334,058,426","331,002,651","9,372,610 sq_km",36/sq_km,0.58%,4.23%,3
3,IDN,Indonesia,"278,037,263","273,523,615","1,904,569 sq_km",145/sq_km,1.04%,3.51%,4
4,PAK,Pakistan,"227,724,796","220,892,340","881,912 sq_km",255/sq_km,1.95%,2.86%,5

In [26]:
population_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 224 entries, 0 to 223
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   iso_code           224 non-null    object
 1   country            224 non-null    object
 2   2021_last_updated  224 non-null    object
 3   2020_population    224 non-null    object
 4   area               224 non-null    object
 5   density_sq_km      224 non-null    object
 6   growth_rate        224 non-null    object
 7   world_%            224 non-null    object
 8   rank               224 non-null    int64
dtypes: int64(1), object(8)
memory usage: 15.9+ KB

#### Remove comma's by replace Function

In [28]:
population_df.replace(',','', regex=True, inplace=True)

In [29]:
population_df.head()

,iso_code,country,2021_last_updated,2020_population,area,density_sq_km,growth_rate,world_%,rank
0,CHN,China,1447065329,1439323776,9706961 sq_km,149/sq_km,0.34%,18.34%,1
1,IND,India,1401310563,1380004385,3287590 sq_km,424/sq_km,0.97%,17.69%,2
2,USA,United States,334058426,331002651,9372610 sq_km,36/sq_km,0.58%,4.23%,3
3,IDN,Indonesia,278037263,273523615,1904569 sq_km,145/sq_km,1.04%,3.51%,4
4,PAK,Pakistan,227724796,220892340,881912 sq_km,255/sq_km,1.95%,2.86%,5

#### Remove the strings using str.strip() Function

In [30]:
population_df['area'] = population_df['area'].str.strip(' sq_km')
population_df['density_sq_km'] = population_df['density_sq_km'].str.strip('/sq_km')
population_df['growth_rate'] = population_df['growth_rate'].str.strip('%')
population_df['world_%'] = population_df['world_%'].str.strip('%')

In [31]:
population_df.head()

,iso_code,country,2021_last_updated,2020_population,area,density_sq_km,growth_rate,world_%,rank
0,CHN,China,1447065329,1439323776,9706961,149,0.34,18.34,1
1,IND,India,1401310563,1380004385,3287590,424,0.97,17.69,2
2,USA,United States,334058426,331002651,9372610,36,0.58,4.23,3
3,IDN,Indonesia,278037263,273523615,1904569,145,1.04,3.51,4
4,PAK,Pakistan,227724796,220892340,881912,255,1.95,2.86,5

In [34]:
population_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 224 entries, 0 to 223
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   iso_code           224 non-null    object
 1   country            224 non-null    object
 2   2021_last_updated  224 non-null    object
 3   2020_population    224 non-null    object
 4   area               224 non-null    object
 5   density_sq_km      224 non-null    object
 6   growth_rate        224 non-null    object
 7   world_%            224 non-null    object
 8   rank               224 non-null    int64
dtypes: int64(1), object(8)
memory usage: 15.9+ KB

#### Convert object dtype to int64 and float dtype

In [36]:
population_df['2021_last_updated'] = population_df['2021_last_updated'].astype('int64')
population_df['2020_population'] = population_df['2020_population'].astype('int64')
population_df['area'] = population_df['area'].astype('int64')
population_df['density_sq_km'] = population_df['density_sq_km'].astype('int64')
population_df['growth_rate'] = population_df['growth_rate'].astype('float64')
population_df['world_%'] = population_df['world_%'].astype('float64')

In [37]:
population_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 224 entries, 0 to 223
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   iso_code           224 non-null    object
 1   country            224 non-null    object
 2   2021_last_updated  224 non-null    int64
 3   2020_population    224 non-null    int64
 4   area               224 non-null    int64
 5   density_sq_km      224 non-null    int64
 6   growth_rate        224 non-null    float64
 7   world_%            224 non-null    float64
 8   rank               224 non-null    int64
dtypes: float64(2), int64(5), object(2)
memory usage: 15.9+ KB